{% if block.settings.article != blank %}
  {% assign article = block.settings.article %}
  {% render 'article-card',
    article: article,
    media_aspect_ratio: 1.66,
    show_image: section.settings.show_image,
    show_date: section.settings.show_date,
    show_author: section.settings.show_author,
    show_excerpt: true
  %}
{% else %}
  {%- assign placeholder_image_index = block.index0 | modulo: 3 | plus: 1 -%}
  {%- assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index -%}
  <div class="article-card-wrapper card-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div
      class="
        card article-card card--{{ settings.blog_card_style }}
        {% if settings.blog_card_style == 'card' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}
        {% if block.settings.show_image %} card--media{% else %} card--text{% endif %}
      "
      style=" {% if settings.blog_card_style == 'standard' %} --ratio-percent: 100%;{% elsif settings.blog_card_style == 'card' %} --ratio-percent: 0%;{% endif %}"
    >
      <div
        class="card__inner{% if settings.blog_card_style == 'standard' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %} ratio"
        style="--ratio-percent: 80%;"
      >
        
        {{ placeholder_image | placeholder_svg_tag: 'blog-placeholder-svg' }}}
        <div class="card__content">
            <h3 class="card__heading h2">
              {{ 'sections.featured_blog.onboarding_title' | t }}
            </h3>
            <p class="article-card__excerpt rte-width">
              {{ 'sections.featured_blog.onboarding_content' | t }}
            </p>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Article",
    "settings": [
      {
        "type": "article",
        "id": "article",
        "label": "Article"
      }
    ],
    "blocks": [{"type": "@theme"},{"type": "@app"}],
    "presets": [
      {
        "name": "Article"
      }
    ]
  }
{% endschema %}