<style>
  #shopify-block-{{ block.id }}{
    width:{{ block.settings.width }}%;
  }
</style>
{%- if request.page_type == 'index' -%}
  <h1 class="header__heading">
{%- endif -%}
    <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
      {%- if settings.logo != blank -%}
        <div class="header__heading-logo-wrapper">
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
          {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
          {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
          {{ settings.logo | image_url: width: 600 | image_tag:
            class: 'header__heading-logo motion-reduce',
            widths: widths,
            height: logo_height,
            width: settings.logo_width,
            alt: logo_alt,
            sizes: sizes,
            preload: true
          }}
        </div>
      {%- else -%}
        <span class="h2">{{ shop.name }}</span>
      {%- endif -%}
    </a>
{%- if request.page_type == 'index' -%}
  </h1>
{%- endif -%}
{% schema %}
  {
    "name": "Logo",
    "class":"logo-block",
    "settings": [
      {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 300,
        "step": 10,
        "default": 100,
        "unit": "px",
        "label": "Logo Width"
      },
      {
        "type": "range",
        "id": "logo_height",
        "min": 1,
        "max": 100,
        "step": 1,
        "default": 63,
        "unit": "px",
        "label": "Logo Height"
      },
      {
        "type": "range",
        "id": "margin-bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0,
        "unit": "px",
        "label": "Margin Bottom"
      },
      {
        "type": "range",
        "id": "width",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Width",
        "default": 100
      },
      {
        "type":"header",
        "content":"Mobile Style"
      },
      {
        "type": "range",
        "id": "mobile-logo_width",
        "min": 50,
        "max": 300,
        "step": 10,
        "default": 100,
        "unit": "px",
        "label": "Logo Width"
      },
      {
        "type": "range",
        "id": "mobile-logo_height",
        "min": 1,
        "max": 100,
        "step": 1,
        "default": 63,
        "unit": "px",
        "label": "Logo Height"
      }
    ],
    "blocks": [{"type": "@theme"},{"type": "@app"}],
    "presets": [
      {
        "name": "Logo"
      }
    ]
  }
{% endschema %}