{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign video_id = block.settings.video.id | default: block.settings.video_url.id
  assign video_alt = block.settings.video.alt | default: block.settings.description
  assign alt = 'sections.video.load_video' | t: description: video_alt | escape
  assign poster = block.settings.video.preview_image | default: block.settings.cover_image

  if section.settings.video != null
    assign ratio_diff = block.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
    if ratio_diff < 0.01 and ratio_diff > 0
      assign fix_ratio = true
    endif
  endif
-%}

{%- capture sizes -%}
  {% if block.settings.full_width -%}
    100vw
  {%- else -%}
    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px)
    calc(100vw - 10rem), 100vw
  {%- endif %}
{%- endcapture -%}
<deferred-media
    class="video-section__media deferred-media gradient global-media-settings{% if block.settings.full_width %} global-media-settings--full-width{% endif %}{% if fix_ratio %} media-fit-cover{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    data-media-id="{{ video_id }}"
    {% if poster != null %}
      style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
    {% endif %}
  >
    <button
      id="Deferred-Poster-Modal-{{ video_id }}"
      class="video-section__poster media deferred-media__poster media--landscape"
      type="button"
      aria-label="{{ alt }}"
    >
      {%- if poster != null -%}
        {{
          poster
          | image_url: width: 3840
          | image_tag: sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
        }}
      {%- else -%}
        {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
      {%- endif -%}
      <span class="deferred-media__poster-button motion-reduce">
        <span class="svg-wrapper">
          {{- 'icon-play.svg' | inline_asset_content -}}
        </span>
      </span>
    </button>
    <template>
      {%- if block.settings.video == null and block.settings.video_url != null -%}
        {%- liquid
          assign loop = ''
          if block.settings.enable_video_looping
            assign loop = '&loop=1&playlist=' | append: video_id
          endif
        -%}
        {%- if block.settings.video_url.type == 'youtube' -%}
          <iframe
            src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
            class="js-youtube"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ block.settings.description | escape }}"
          ></iframe>
        {%- else -%}
          <iframe
            src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
            class="js-vimeo"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ block.settings.description | escape }}"
          ></iframe>
        {%- endif -%}
      {%- else -%}
        {{
          block.settings.video
          | video_tag:
            image_size: '1100x',
            autoplay: true,
            loop: block.settings.enable_video_looping,
            controls: true,
            muted: false
        }}
      {%- endif -%}
    </template>
  </deferred-media>
{% schema %}
  {
    "name": "Video",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "t:sections.video.settings.enable_video_looping.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.video.settings.header__1.content"
      },
      {
        "type": "video",
        "id": "video",
        "label": "t:sections.video.settings.video.label"
      },
      {
        "type": "header",
        "content": "t:sections.video.settings.header__2.content"
      },
      {
        "type": "paragraph",
        "content": "t:sections.video.settings.paragraph.content"
      },
      {
        "type": "video_url",
        "id": "video_url",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "label": "t:sections.video.settings.video_url.label",
        "info": "t:sections.video.settings.video_url.info"
      },
      {
        "type": "image_picker",
        "id": "cover_image",
        "label": "t:sections.video.settings.cover_image.label"
      },
      {
        "type": "text",
        "id": "description",
        "label": "t:sections.video.settings.description.label",
        "info": "t:sections.video.settings.description.info"
      },
      {
        "type": "header",
        "content": "t:sections.video.settings.header__3.content"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "t:sections.video.settings.full_width.label",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Video"
      }
    ]
  }
{% endschema %}